
{
  "root": true,
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 3,
    "ecmaFeatures": {
      "jsx": false
    }
  },
  "globals": {
    "angular": false,
    "jQuery": true,
    "$": true
  },
  "plugins": ["ie-jsapi"],
  "rules": {
    "ie-jsapi/ie-jsapi": "error",
    "indent": 0,
    "compat/compat": 0,
    "no-console": 0,
    "no-unused-vars": 1,
    "no-redeclare": 1,
    "no-alert": 1,
    "no-dupe-args": 2,
    "no-dupe-keys": 2,
    "no-duplicate-case": 2,
    "no-extra-semi": 2,
   	"no-func-assign": 1
  }
}