* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background: transparent;
  line-height: normal;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "PingFang SC-Light","Microsoft YaHei", "微软雅黑","Helvetica Neue", Helvetica, "STHeitiSC-Light", "Tahoma",  Arial, sans-serif;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: #666;
  background-color: #fff;
}

a {
  color: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  background: transparent;

}

a:focus,
a:active,
a:hover,
a:hover {
  color: inherit;
  outline: none;
}

/*去除浏览器输入框轮廓*/
input,
button,
textarea,
select {
  color: inherit;
  outline: none;
  user-select: auto;
}

i,em{
  font-style: normal;
}

ul,
li,
ol {
  list-style: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix {display: inline-block;}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  zoom:1;
  visibility: hidden;
}

#app {
  height: 100%;
}

.fz-12 {
  font-size: 12px;
}